.poster {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 50%;
  border-right: 0px solid $c-red;
  border-left: 0px solid $c-red;
  border-top: 10px solid $c-red;;
  border-top: 20px solid $c-red;;
  border-bottom: 20px solid $c-red;
  
  &__img {
    // opacity: 0;
    cursor: pointer;
    user-select: none;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    // height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease,  border 0.1s ease;
    border-top: 10px solid $c-light-red;;
    border-bottom: 10px solid $c-light-red;
    &:hover {
      // border-right: 60px solid $c-red;
      transform: scale(140%) rotateZ(10deg);
      // border-left: 60px solid $c-red;

    }

    @include onMobile() {
      top: 0;
      object-position: center;
    }
  }

  &__title {
    user-select: none;  
    font-size: 40px;
    display: block;
    width: 100%;
    height: max-content;
    position: absolute;
    transform: translateY(100%);
    // top: calc(100% - 40px);
    bottom: 20%;
    left: 10%;
    right: 100%;
    // font-size: 30px;
    color: #fff;
    text-shadow: -2px 1px 2px $c-red;
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: black;
    word-wrap: break-word;
    @include onMobile() {
      font-size: 50px;
      bottom: 15%;
    }
  }

  &__arrow {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    width: 5%;
    height: 100%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    font-size: 40px;

    color:white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &--left {
      padding-left: 2%;
      right: 100%;
      left: 0;
    }

    &--right {
      padding-right: 2%;
      transform: translateX(-100%);
      justify-content: flex-end;
      left: 100%;
      right: 0;
    }

    @include onMobile() {
      font-size: 20px;
    }
  }
  @include onMobile() {
    margin: -20px 0;
    padding: 0;
    height: 100vh;
    object-position: center;
  }
}